<form>
    <div class="alignElements">
        <label class="searchComponentLabel">Name: </label>
        <input name="name" class="form-input searchInput" value="@ViewBag.name" />
        <label class="searchComponentLabel">Email: </label>
        <input name="email" class="form-input searchInput" value="@ViewBag.email" />
        <div class="searchButtons">
            <button class="button button-blue-back searchButton">Search</button>
            <a href="~/home/users" class="link-hover clearFiltersLabel">Clear all</a>
        </div>
    </div>
</form>