@model IEnumerable<OnlineStore.BusinessLogic.Dtos.CustomerSpend>

<h2>Top Buyers</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Total Spent</th>
        </tr>
    </thead>
    <tbody>
        @{ var index = 1; }
        @foreach (var x in Model)
        {
            <tr>
                <td>@index</td>
                <td>@x.User.Name (@x.User.Email)</td>
                <td>@x.TotalSpent.ToString("0.00")</td>
            </tr>
            { index++; }
        }
    </tbody>
</table>