@model RegisterDto

@{ 
    ViewBag.Title = "Register"; 
}

<a asp-controller="Home" asp-action="Login" class="link-hover">Login</a>
<h2>@ViewBag.Title</h2>
<div class="w-50">
    <form asp-controller="Home" asp-action="Register" method="post">
        @*Name*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Name" class="form-label pt">Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="Name" class="form-input" />
                <span asp-validation-for="Name" class="text-red errorMessage"></span>
            </div>
        </div>
        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input type="text" asp-for="Email" class="form-input" />
                <span asp-validation-for="Email" class="text-red errorMessage"></span>
            </div>
        </div>
        @*Phone Number*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PhoneNumber" class="form-label pt">Phone Number</label>
            </div>
            <div class="flex-1">
                <input type="text" asp-for="PhoneNumber" class="form-input" />
                <span asp-validation-for="PhoneNumber" class="text-red errorMessage"></span>
            </div>
        </div>
        @*Password*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Password" class="form-label pt">Password</label>
            </div>
            <div class="flex-1">
                <input type="password" asp-for="Password" class="form-input" />
                <span asp-validation-for="Password" class="text-red errorMessage"></span>
            </div>
        </div>
        @*Confirm Password*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Password" class="form-label pt">Confirm Password</label>
            </div>
            <div class="flex-1">
                <input type="password" asp-for="ConfirmPassword" class="form-input" />
                <span asp-validation-for="ConfirmPassword" class="text-red errorMessage"></span>
            </div>
        </div>
        @*Submit*@
        <div class="form-field flex">
            <div class="flex-1">
                <button class="button button-green-back">Register</button>
            </div>
        </div>
        @* <div asp-validation-summary="All"></div> *@
    </form>
</div>
